<!-- your html code here -->
<!--p>Hello, I'm the first_heading.html</p -->

<div class="container section">
  <div class="row">
    <div class="col">
      <div class="media">
        <div class="media-body text-left">
             <h3>This First Heading <span class="text-secondary"> Will Catch Your Eye</span></h3>
             Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
             ligula porta felis euismod semper. Praesent commodo cursus magna, vel
             scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </div>
          <img
             src="./assets/img/1.jpg"
             class="ml-3"
             alt="..."
             style="border-radius: 100%; width: 250px"
           />
      </div>
    </div>
  </div>
</div>
