
<!-- your html code here 
  <p>Hello, I'm the navbar.html</p>-->
  
  
  <div class="container ">
    <div class="row">
      <div class="col">
        
        
        <nav class="navbar navbar-dark bg-dark">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active p-3 mb-2 bg-dark text-white" href="#">Start Bootstrap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-3 mb-2 bg-dark text-white" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-3 mb-2 bg-dark text-white" href="#">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-3 mb-2 bg-dark text-white" href="#">Portafolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-3 mb-2 bg-dark text-white" href="#">Contact</a>
            </li>
          </ul>
          
        
          </div>
          
          
      </div>
      
  </div>


</div>