<!-- your html code here -->
<!-- <p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->



<div class="container  section">
    <div class="row">
        <div
        class="col">
        
        <div class="media">
            <img src="https://picsum.photos/id/1/250/250" class="align-self-end mr-3" alt="..." style="border-radius: 100%;">
            <div class="media-body">
              <h2 class="mt-0">The second heading is pretty cool too</h2>
              <p>Come on, let your colours burst. I can feel this light that's inside of me. All night they're playing, your song. From Tokyo to Mexico, to Rio. There’s no going back. But down to earth. Magical, colorful, Mr. Mystery, ee. Different DNA, they don't understand you.</p>
              <p class="mb-0">But down to earth. She's got that, je ne sais quoi, you know it. I can see the writing on the wall. The boys break their necks try'na to creep a little sneak peek. Take me, ta-ta-take me. Open up your heart. Thought that I was the exception. Boom, boom, boom. Venice beach and Palm Springs, summertime is everything. Bring the beat back. (This is how we do)</p>
            </div>
          </div>

        </div>
     </div>
</div>