<!-- your html code here -->
<!-- <p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->

<div class="container section">
  <div class="row">
    <div class="col">
        <div class="media">
           <img
          src="./assets/img/2.jpg"
          class="align-self-end mr-3"
          alt="..."
          style="border-radius: 100%; width: 250px"
        />
        <div class="media-body">
           <h2 class="mt-0">The second heading <span class="text-secondary"> is pretty cool too</span></h2>
           <p>
            Come on, let your colours burst. I can feel this light that's inside
            of me. All night they're playing, your song. From Tokyo to Mexico,
            to Rio. There’s no going back. But down to earth. Magical, colorful,
            Mr. Mystery, ee. Different DNA, they don't understand you.
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
