<!-- your html code here -->
<!--p>Hello, I'm the tagline and I was loaded using ajax from templates/tagline.html</p> -->


<div class="container section tagline">
    <div class="row">
        <div class="col">
            
            
            <div style="background-image: url(./assets/img/bg.jpg); height:550px; background-size: cover;">
                <div id="textotagline" class="row justify-content-center d-flex align-content-end flex-wrap" style="margin-left: 0px; margin-right: 0px;">
                      <div class="col-12">
                          <h1 class="text-center p-3 mb-2 bg-white text-dark"> One Page Wonder</h1>
                     </div> 
                      <div class="col-12">
                          <h4 class="text-center p-3 mb-2 bg-white text-dark">Will Knock Your Socks Off</h4>
                     </div>
                </div>
            </div>
            
            
        </div>
        
    </div>


</div>