<!-- your html code here -->
<!--p>Hello, I'm the tagline and I was loaded using ajax from templates/tagline.html</p> -->


<div class="container section tagline">
    <div class="row">
        <div class="col">
            
            
            <div style="background-image: url(./assets/img/bg.jpg); height:550px; background-size: cover;">
                <h1> One Page Wonder</h1>
                <h4>Will Knock Your Socks Off</h4>
            </div>
            
            
        </div>
        
    </div>


</div>